div {
    background-color: rgba(255,255,255,0.6);
}
#cap {
    padding-bottom: 3px;
    background-color: rgb(255, 228, 196,0.4);
}
table {
    background-color: bisque;
    border: 1px solid black;
    margin: 50px auto;
    cursor: pointer;
}
body {
    background-image: url("https://th.bing.com/th/id/R.e3fb97a6a081428616779941e579f999?rik=jfWDGAhfJ2g0eg&riu=http%3a%2f%2fimages.wisegeek.com%2finterior-of-an-indian-restaurant.jpg&ehk=fqDAZTDrqLgD7MT782mu6pnk%2bUMVNy8D99NNzk3oks8%3d&risl=&pid=ImgRaw&r=0");
    background-position: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
#para {
    text-align: center;
    width: 70%;
    margin: 50px auto;
}
#but {
    margin: 50px auto;
    height: 35px;
    border-radius: 20px;
    background-color: rgb(99, 211, 205);
    border: 1px solid rgb(99, 211, 205);
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}
#but:hover {
    box-shadow: 0 8px 10px rgba(0,0,0,0.5);
    opacity: 1; 
    transition: opacity 0.3s ease;
}
#but:active {
  transform: translateY(2px); 
  opacity: 0.6;
}
#div-but {
    background-color: rgba(255,255,255,0);
    margin-top: -80px;
}
td {
    align-items: center;
}
